@tailwind base;
@tailwind components;
@tailwind utilities;

[type="text"]:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none !important;
  outline-offset: 0 !important;
  outline-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
